{% load static %}
{% include 'partials/head/head.html' %}
<body>

    <div class="container2">
        {% include 'partials/nav/navbar.html' %}

        <main>
            <div class="right">
                <div class="top">
                    <button class="menu-btn">
                        <span class="material-icons-sharp">menu</span>
                    </button>
                    <div class="profile">
                        <div class="info">
                            <p>Hey, <b>AKRIVIA</b></p>
                            <small class="text-muted">Admin</small>
                        </div>
                        <div class="profile-photo">
                            <img src="{% static 'core/images/AKRIVIA-QUADRADO-Fundo.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <h1>Antecipação</h1>
        </main>
    </div>
    
</body>
</html>