{% load static %}
{% include 'partials/head/head.html' %}

<style>

    .container2 main form{
        background: var(--color-white);
        border-radius: var(--card-border-radius);
        box-shadow: var(--box-shadow);
        padding: var(--card-padding);
    }

    .container2 main form input{
        border: 1px solid lightblue;
        padding: .5rem;
    }
</style>

<body>

    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-{{m.tags}}">
                {{ m }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container2">
        {% include 'partials/nav/navbar.html' %}

        <main>
            {% include 'partials/nav/rightmenu.html' %}
            <h2>Pagamento de Boletos</h2>
            <br>
            <form style="display: flex; justify-content: space-around;">
                <div style="display: flex; justify-content: space-between; align-items: end; flex-wrap: wrap; width: 40%;">
                    <div>
                        <label for="boleto">Número do Boleto:</label><br>
                        <input maxlength="48" name="boleto" type="text" onkeypress="return filtroTeclas(event)">
                    </div>
                    <div>
                        <label for="preco">Valor:</label><br>
                        <input name="preco" type="text" onkeypress="$(this).mask('#.##0,00', {reverse: true})">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="data">Vencimento:</label><br>
                        <input type="date">
                    </div>
                    <div>
                        <button style="background: rgb(35, 183, 229); color:white; padding: 10px; border-radius: .6rem;">Verificar</button>
                    </div>
                </div>
                <div>
                    <textarea placeholder="Observações" style="border: 1px solid lightblue; padding: 2px;" name="obs" id="observacoes" cols="60" rows="5"></textarea>
                </div>
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
    <script>

        var filtroTeclas = function(event) {
            return ((event.charCode >= 48 && event.charCode <= 57))
        }

    </script>
</body>
</html>

<!-- <form class="form-outline form-white container mt-5" action="{% url 'contaInterna' %}" method="POST" >{% csrf_token %}

        <label>Nome Atual: </label>
        <input type="text" name="user_name">

        <label>Latitude/Longitude: </label>
        <input type="text" name="user_last_location"><br>

        <input class="btn btn-primary m-4" type="submit" value="Enviar">
        <a class="btn btn-success" href="{% url 'dashboard' %}">Voltar</a>

    </form> -->
    <!-- <div class="container">
        {% for i in content %}
            <p>Nome: {{ i.user_name }} <br> Idade: {{ i.user_age }}</p>
        {% endfor %}
    </div> -->