{% load static %}
{% include 'partials/head/head.html' %}
<body>

    <div class="container2">
        {% include 'partials/nav/navbar.html' %}
        <main>
            {% include 'partials/nav/rightmenu.html' %}
    
            <h1>Favoritos</h1>
            <div class="orders">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Documento</th>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Conta</th>
                            <th>Tipo de Conta</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                        </tr>
                        <tr>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $('document').ready(function(){
            $('table').DataTable({
                responsive: true
            });
        })

        const imprimir = document.getElementById('imprimir')

        const teste = () => {
            $('table').DataTable().destroy()
            window.print()
            $('table').DataTable().restore()
        }

        imprimir.addEventListener('click', () => {
            teste()
            //console.log('Cliquei')
        })
    </script>