<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AkriviaPay</title>
    
    <link rel="icon"  href="{% static 'core/images/logomin.png' %}"/>
    
    <!-- Material CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'core/css/styleLogin.css' %}">
</head>
<body>
    
    <div class="main-login">

        <div class="left-login">
            <h2>Boas Vindas<br>Realize seu Login</h2>
            <img id="svg" class="left-login-svg" src="" />
        </div>
        <div class="right-login">
            
            <div class="card-login">
                <img class="img-login" src="{% static 'core/images/AKRIVIA-QUADRADO-Fundo.png' %}" alt="">
                <h1>LOGIN</h1>
                <div class="text-field">
                    <label for="estabelecimento">Estabelecimento</label>
                    <input type="text" name="establishment_id" placeholder="Estabelecimento" />
                </div>
                <div class="text-field">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="login" placeholder="Usuário" />
                </div>
                <div class="text-field">
                    <label for="senha">Senha</label>
                    <input type="password" name="password" placeholder="Senha" />
                </div>    
                <div class="text-under">
                    <a href="#"><span>Esqueceu sua senha?</span></a>
                </div>
                <div class="text-under">
                    <a href="#"><span>Esqueceu seu código?</span></a>
                </div>
                <button type="submit" class="btn-login">Login</button>
            </div>
        </div>

    </div>

    <script>
        
        var svgs = ["{% static 'core/images/businessAnimation.svg' %}", "{% static 'core/images/businessAnimation-2.svg' %}"];
        const svg = document.getElementById('svg')
        var random = Math.floor(Math.random() * svgs.length);
        console.log(random)
        svg.src = svgs[random]

    </script>

</body>
</html>