{% load static %}
{% include 'partials/head/head.html' %}
<style>
    .img-print{
        display: none;
    }
</style>
<body>
    
    <div class="container2">
        {% include 'partials/nav/navbar.html' %}

        <main>
            {% include 'partials/nav/rightmenu.html' %}
            <h1>Cobrança</h1>
            <div class="orders">
                <div class="img-print">
                    <img src="{% static 'core/images/AKRIVIA-QUADRADO-Fundo.png' %}">
                    <h1>Cobrança</h1>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Estabelecimento</th>
                            <th>Descrição</th>
                            <th>Vencimento</th>
                            <th>Tipo</th>
                            <th>Situação</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                        </tr>
                        <tr>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h1>Pendencias</h1>
            <div class="orders">
                <div class="img-print">
                    <img src="{% static 'core/images/AKRIVIA-QUADRADO-Fundo.png' %}">
                    <h1>Pendencias</h1>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Estabelecimento</th>
                            <th>Descrição</th>
                            <th>Vencimento</th>
                            <th>Tipo</th>
                            <th>Situação</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                        </tr>
                        <tr>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                            <td>valores</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

</body>
</html>